@model VIPCLASS.ViewModels.SingleCourseViewModel

<style>
    .card-upload {
        border: 2px dashed rgba(255, 255, 255, 0.1);
        min-height: 150px;
        min-width: 450px !important;
        padding: 32px 60px;
        position: relative;
        border-radius: 16px;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
        margin-left: 30px;
    }

    .card-preview {
        border-width: 0px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        width: 255px;
        height: 320px;
        display: flex;
        background: rgb(18, 18, 18) none repeat scroll 0% 0%;
        padding: 40px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 10px;
    }

    .video-preview {
        width: 254px;
        height: 319px;
        display: flex;
        background: black;
        @*padding: 40px;*@
        border-radius: 16px;
        @*margin-top: 10px;*@

    }

    .card-form {
        -moz-box-flex: 1;
        flex: 1 1 auto;
        vertical-align: inherit;
        max-width: 100%;
        min-height: 0px;
        min-width: 0px;
        flex-direction: column !important;
        display: flex;
        -moz-box-align: stretch;
        align-items: stretch;
    }

    .span-preview {
        font-family: inherit;
        font-weight: inherit;
        text-align: center;
        font-size: 15px;
        color: rgb(140, 140, 140);
    }

    .span-custom {
        font-family: inherit !important;
        font-weight: inherit !important;
        text-align: center;
        color: rgb(140, 140, 140);
        font-size: 15px;
    }

    .span-subtitulo {
        color: rgb(255, 255, 255);
        margin-left: 10%;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .span-subtitulo-preview {
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mensage-subtitle {
        font-family: inherit;
        font-weight: inherit;
        color: rgb(140, 140, 140);
        font-size: 13px;
        margin-left: 10%;
        font-weight: bold;
    }

    .span-titulo {
        font-family: inherit;
        font-weight: 700;
        font-size: 46px;
        margin-left: 5%;
        color: rgb(255, 255, 255);
    }

    .input-group-custom {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

</style>

<div class="container-fluid">
    <div class="row py-3">
        <div class="col-7" id="sticky-sidebar">

            <form enctype="multipart/form-data" asp-action="CreateSingleCourse" asp-controller="Course" method="post">
                <div class="row col-auto">
                    <div class="span-titulo">
                        <span>Create single item</span>
                    </div>
                </div>
                <br />
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <span>Upload file</span>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="card-upload">
                        <span class="span-custom">
                            PNG, GIF, WEBP, MP4 or MP3. Max 100mb.
                        </span>
                        <br /><br />
                        <label class="btn btn-primary" for="file">
                            <input id="file" type="file" class="d-none" accept="video/*" asp-for="File">
                            <b>Choose File</b>
                        </label>
                    </div>
                </div>
                <br />
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <span>Price</span>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <input asp-for="Price" type="number" step="0.00000001" class="form-control-custom" placeholder="Enter price for one piece" style="width: 450px">
                    </div>
                </div>
                <div class="row col-6">
                    <div class="mensage-subtitle">
                        <span>Service fee </span><span style="color: white">2.0%</span>
                    </div>
                </div>
                <br />
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <span>Name</span>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <input asp-for="Name" type="text" class="form-control-custom" placeholder="e. g. 'Redeemmable T-Shirt with logo" style="width: 450px">
                    </div>
                </div>
                <br />
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <span>Description</span>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <input asp-for="Description" type="text" class="form-control-custom" placeholder="e. g. 'After purchasing you'll be able to get the real T-Shirt" style="width: 450px">
                    </div>
                </div>
                <div class="row col-6">
                    <div class="mensage-subtitle">
                        <span>With preserved line-breaks</span>
                    </div>
                </div>
                <br />
                <div class="row col-6">
                    <div class="span-subtitulo">
                        <input type="submit" id="createCourse" class="btn btn-primary" value="Create course" style="font-weight: bold" />
                    </div>
                </div>
            </form>
        </div>

        <div class="col-auto" id="main">
            <div class="row col-auto">
                <div class="span-subtitulo-preview">
                    <span>Preview</span>
                </div>
                <div class="card-preview col-auto">
                    <div class="row">
                        <span class="span-preview">
                            <video class="video-preview" controls>
                                Upload file to preview your brand new NFT
                            </video>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="message" class="alert alert-success" role="alert" style="display: none;">
    <b>Success</b>
</div>

<script>
    document.getElementById("file")
        .onchange = function (event) {
            let file = event.target.files[0];
            let blobURL = URL.createObjectURL(file);
            document.querySelector("video").src = blobURL;
        };

    document.getElementById("createCourse")
        .onclick = function (event) {
            document.getElementById("message").removeAttribute("style");
        };
</script>