<div class="container-fluid">
    <div class="row py-3">
        <div class="col-3" id="sticky-sidebar">
            <div class="sticky-top">
                <div class="card-custom2">
                    <div class="card-custom">

                        <article class="card-group-item-custom">
                            <header class="card-header-custom">
                                <span class="title"><i class="fas fa-vote-yea" style="margin-right: 10px"></i>  <b>Categories</b> </span>
                            </header>
                            <div class="filter-content">
                                <div class="card-body-custom">
                                    <form>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Arts</b>
                                            </span>
                                        </label> <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Entertaiment</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Home & Lifestyle</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Music</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Business</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Writing</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Food</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Design & Style</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Sport & Gaming</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label" style="font-size: 15px; ">
                                                <b>Science & Tech</b>
                                            </span>
                                        </label>  <!-- form-check.// -->
                                    </form>

                                </div> <!-- card-body-custom.// -->
                            </div>
                        </article> <!-- card-group-item-custom.// -->

                    </div> <!-- card.// -->
                    <br />
                    <div class="card-custom">

                        <article class="card-group-item-custom">
                            <header class="card-header-custom">
                                <span class="title"><i class="fas fa-sort-amount-down" style="margin-right: 10px"></i> <b>Order by</b></span>
                            </header>
                            <div class="filter-content">
                                <div class="card-body-custom">
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="" checked="checked">
                                        <span class="form-check-label" style="font-size: 15px; ">
                                            <b>First hand items</b>
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label" style="font-size: 15px; ">
                                            <b>Brand new items</b>
                                        </span>
                                    </label>
                                    <label class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                        <span class="form-check-label" style="font-size: 15px; ">
                                            <b>Some other option</b>
                                        </span>
                                    </label>
                                </div> <!-- card-body-custom.// -->
                            </div>
                        </article> <!-- card-group-item-custom.// -->

                    </div> <!-- card.// -->
                    <br />
                    <div class="card-custom">

                        <article class="card-group-item-custom">
                            <header class="card-header-custom">
                                <span class="title"><i class="fas fa-exchange-alt" style="margin-right: 10px"></i> <b>Range price</b></span>
                            </header>
                            <div class="filter-content">
                                <div class="card-body-custom">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label style="font-size: 15px; ">
                                                <b>Min</b>
                                            </label>
                                            <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label style="font-size: 15px; ">
                                                <b>Max</b>
                                            </label>
                                            <input type="number" class="form-control" placeholder="$1,0000">
                                        </div>
                                    </div>
                                </div> <!-- card-body-custom.// -->
                            </div>
                        </article> <!-- card-group-item-custom.// -->

                    </div> <!-- card.// -->
                    <br />
                    <div class="card-custom">

                        <article class="card-group-item-custom">
                            <header class="card-header-custom">
                                <span class="title"><i class="fas fa-at" style="margin-right: 10px"></i> <b>Author</b></span>
                            </header>
                            <div class="filter-content">
                                <div class="card-body-custom">
                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">52</span>
                                        <input type="checkbox" class="custom-control-input" id="Check1">
                                        <label class="custom-control-label" for="Check1" style="font-size: 15px; "><b>Ricardo Zago</b></label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">132</span>
                                        <input type="checkbox" class="custom-control-input" id="Check2">
                                        <label class="custom-control-label" for="Check2" style="font-size: 15px; "><b>John Souza</b></label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">17</span>
                                        <input type="checkbox" class="custom-control-input" id="Check3">
                                        <label class="custom-control-label" for="Check3" style="font-size: 15px; "><b>Willian Schotch</b></label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">7</span>
                                        <input type="checkbox" class="custom-control-input" id="Check4">
                                        <label class="custom-control-label" for="Check4" style="font-size: 15px; "><b>Richard McKay</b></label>
                                    </div> <!-- form-check.// -->
                                </div> <!-- card-body-custom.// -->
                            </div>
                        </article> <!-- card-group-item-custom.// -->

                    </div> <!-- card.// -->
                    <br />
                    <div class="row">
                        <div style="margin-left: 14%">
                            <button type="button" class="btn btn-success mr-2" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="fas fa-filter"></i> <b>Filter</b>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark mr-2" asp-area="" asp-controller="Home" asp-action="Privacy" style="color:white;">
                                <i class="fas fa-eraser"></i> <b>Clear</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" id="main">
            <div class="row">
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:92108161793290098649630091254747828819550034608320494752519577721131935728228/dbe6eb67" alt="CryptoNauts #1937" title="CryptoNauts #1937" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer-custom" style="border-radius: 25px;">
                                <div class="row">
                                    <div class="col-8">
                                        <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                    </div>
                                    <div class="col-auto" style="margin-top:5px;">
                                        <span style="font-size: small">
                                            <i class="far fa-heart fa-lg"></i>
                                            <b>15</b>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:98271403037909532126878866376421894068897019867220223342459177156681106719470/2dc951db" alt="Alien Cat #1352" title="Alien Cat #1352" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:98271403037909532126878866376421894068897019867220223342459177156681106719469/65312fd6" alt="Cool Pig #1630" title="Cool Pig #1630" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d:5816/b9b64fa6" alt="BoredApeYachtClub #5816" title="BoredApeYachtClub #5816" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:98271403037909532126878866376421894068897019867220223342459177156681106719474/27c2f2bf" alt="Alien Cat #1350" title="Alien Cat #1350" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:92108161793290098649630091254747828819550034608320494752519577721131935728230/8a1e392e" alt="CryptoNauts #1936" title="CryptoNauts #1936" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0x60e4d786628fea6478f785a6d7e704777c86a7c6:25744/dd07586f" alt="MutantApeYachtClub #25744" title="MutantApeYachtClub #25744" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:92108161793290098649630091254747828819550034608320494752519577721131935728236/3621559f" alt="CryptoNauts #1943" title="CryptoNauts #1943" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:92108161793290098649630091254747828819550034608320494752519577721131935728234/e9714bd6" alt="CryptoNauts #1944" title="CryptoNauts #1944" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:92108161793290098649630091254747828819550034608320494752519577721131935728235/8c6429f3" alt="CryptoNauts #1942" title="CryptoNauts #1942" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xbe6e3669464e7db1e1528212f0bff5039461cb82:4548/2cdbf536" alt="Wicked Ape #4548" title="Wicked Ape #4548" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:92108161793290098649630091254747828819550034608320494752519577721131935728233/33e6ac" alt="CryptoNauts #1945" title="CryptoNauts #1945" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:98271403037909532126878866376421894068897019867220223342459177156681106722508/92a0dada" alt="Alien Cat #1486" title="Alien Cat #1486" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:98271403037909532126878866376421894068897019867220223342459177156681106722510/6f4ad2ca" alt="Alien Cat #1485" title="Alien Cat #1485" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card shadow" style="width: 15rem; border-radius: 25px; background-color: #1f1f1f">
                        <img src="https://img.rarible.com/prod/image/upload/t_preview/prod-itemImages/0xc9154424b823b10579895ccbe442d41b9abd96ed:98271403037909532126878866376421894068897019867220223342459177156681106722506/ea9927e1" alt="Alien Cat #1487" title="Alien Cat #1487" class="imageborder" loading="lazy" style="opacity: 1; position: relative;">
                        <div class="card-body-custom">
                            <div class="row">
                                <div class="col-auto" style="margin-bottom: 10px">
                                    <a href="#" class="badge badge-warning">Arts & Entertainment</a>
                                </div>
                                <div class="col-auto">
                                    <h5 class="card-title"><b>Astrogildo</b></h5>
                                </div>
                            </div>

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer-custom" style="border-radius: 25px;">
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i>  <b>Buy now</b></button>
                                </div>
                                <div class="col-auto" style="margin-top:5px;">
                                    <span style="font-size: small">
                                        <i class="far fa-heart fa-lg"></i>
                                        <b>15</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
